body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F8;
    margin: 0;
    padding: 0; 
    color: #333; 
}

header, footer {
    background-color: #6A8D92;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline;
    margin: 0 20px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #94B49F; 
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #7D9D9C; 
    color: #EAEAEA;
}

main {
    background-color: #ffffff; 
    padding: 20px;
    margin: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

footer .footer-content {
    padding: 20px 0; 
}

.footer-content .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Ensure footer content and social links are centered and professional */
.footer-content, .social-links {
    text-align: center;
}

