/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f4f8; 
}

main {
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 40px;
}

h2 {
    color: #6c757d; 
    text-align: center;
    margin-bottom: 20px;
}

/* Project section styling */
.project {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image-placeholder {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    border-radius: 12px; 
    margin-bottom: 15px;
}


.project h3 {
    margin-top: 0;
    color: #333; 
}

.project-link {
    display: inline-block;
    background-color: #ff6b6b; 
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px; 
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #fa5252; 
}

/* Skills section styling */
.skills-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.skills-list li {
    background-color: #e2e6ea; 
    color: #495057; 
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px; 
    display: inline-block;
    width: auto;
}

.skills-list li i {
    display: block;
    margin-bottom: 5px;
}

/* Certifications section styling */
.certifications-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.certification-card {
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    text-align: center; 
    width: 300px; 
    margin-bottom: 20px; 
    padding: 20px; 
}

.certification-badge {
    width: 80px; 
    height: 80px; 
    margin: auto; 
    display: block; 
    border-radius: 50%; 
}

.certification-info h3, .certification-info p {
    margin: 10px 0; 
}

/* Enhanced hover effect for the card */
.certification-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Responsive design adjustments */
@media (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .project-image-placeholder {
        width: 48%;
        margin-bottom: 0;
    }

    .project-description {
        width: 48%;
    }

    .certification {
        justify-content: start;
    }
}

